  .item1 { grid-area: header; }
  .item2 { grid-area: nav; }
  .item3 { grid-area: article; }
  .item4 { grid-area: aside; }
  .item5 { grid-area: footer; }
.abc 
{
    display: grid;
    grid-template-areas: 'header header header '
    'nav article   aside '
    'footer footer footer';
    grid-gap: 10px;
    background-color: bisque;
    padding: 10px;
  }
  
  .abc > div 
  {
    background-color: brown;
    text-align: center;
    padding: 20px;
    font-size: 30px;
  }
  