div
{
    width: 30px;
    height: 30px;
    background-color: magenta;
    box-shadow: 20px 30px 60px;
    transition: width 3s ease 0.6ms;
}
div:hover
{
    width: 70px;
    height: 80px;
    background-color: maroon;
}
